.nav-stacked > li > a
{
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    /* 无下划线 */
    text-decoration: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    color: #fff;
    /* 颜色纯白 */
    background-color: #202020;
    border: 0;
}

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover,
.nav-stacked > li.active > a:focus,
.nav-stacked > li > a:hover,
.nav-stacked > li > a:focus
{
    background-color: #c0d23e;
}

#about,
#about legend
{
    background-color: #530d85;
    color: #fff;
}