/**************************************************
 *
 *
 *
 * tab
 *
 *
 *
 **************************************************/
.nav-tabs > li > a
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    color: #000;
    border: 2px solid #202020;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover
{
    color: #fff;
    border: 2px solid #202020;
    background-color: #202020;
}

/**************************************************
 *
 *
 *
 * table
 *
 *
 *
 **************************************************/
/* 列表风格 */

table.info,
table.info caption
{
    text-align: left;
	background-color: #fff;
    color: #000;
}

table.info thead th,
table.info tbody td
{
    text-align: center;
}

.table_select
{
    color: #fff;
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: transparent;
}

.page_option
{
    background-color: rgba(0,0,0,.3);
}


table.info input,
table.info input:focus
{
    text-align: center;

    border: none;
    background-color: transparent;
}

input[type='search']
{
    font-size: 20px;

    height: 50px;

    color: #000;
    border: none;
    -webkit-border-radius: 90px 0 0 90px;
       -moz-border-radius: 90px 0 0 90px;
            border-radius: 90px 0 0 90px;
}

button.search_btn
{
    font-size: 20px;
    border: 0;
    color: #000;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #fff;
    padding: 11px;
}

div.search_div
{
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    div.search_div
    {
        padding-bottom: 0;
    }
}

button.activation,
button.activation:active,
button.activation:focus,
button.activation:hover
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    color: #fff;
    background-color: #286090;
    border: 0;
    padding: 0 15px;
    height: 21px;
    font-size: 16px;
    outline: 0;
}

button.preview,
button.preview:active,
button.preview:focus,
button.preview:hover,
button.delivery,
button.delivery:active,
button.delivery:focus,
button.delivery:hover
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    color: #fff;
    background-color: #286090;
    border: 0;
    padding: 0;
    height: 21px;
    font-size: 16px;
    outline: 0;
    width: 100%;
}


a.preview,
a.preview:active,
a.preview:focus,
a.preview:hover
{
    color: #fff !important;
    background-color: #286090 !important;
    border: 0 !important;
    padding: 0 !important;
    height: 21px !important;
    font-size: 16px !important;
    outline: 0 !important;
    width: 100% !important;
    text-align: center !important;
    transform: none !important;
}

button.delete,
button.delete:active,
button.delete:focus,
button.delete:hover
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    color: #fff;
    background-color: #d9534f;
    border: 0;
    padding: 0;
    height: 21px;
    font-size: 16px;
    outline: 0;
    width: 100%;
}

.big-table-caption
{
    display: table-caption;
}

.big-table-head
{
    display: table-header-group;
}

.big-table-cell
{
    display: table-cell;
}

.small-table-cell
{
    display: none;
}

@media (max-width: 768px) {
    .big-table-caption,
    .big-table-head,
    .big-table-cell
    {
        display: none;
    }

    .small-table-cell
    {
        display: table-cell;
        padding: 0!important;
        height: 60px;
    }

    .table
    {
        margin-bottom: 0;
    }
}

.small-table-button
{
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 20px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}


/* 列表风格end */

/**************************************************
 *
 *
 *
 * pagination
 *
 *
 *
 **************************************************/

button.prev,
button.prev:active,
button.prev:focus,
button.prev:hover,
button.next,
button.next:active,
button.next:focus,
button.next:hover
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #c0d23e;
    border: 2px solid #c0d23e;
    outline: 0;
}

button.prev.disabled,
button.prev.disabled:active,
button.prev.disabled:focus,
button.prev.disabled:hover,
button.next.disabled,
button.next.disabled:active,
button.next.disabled:focus,
button.next.disabled:hover
{
    color: #ccc;
    background-color: #fff;
    border: 2px solid #ccc;
    outline:0;
}

/**************************************************
 *
 *
 *
 * Calendar
 *
 *
 *
 **************************************************/

.fc-state-default.fc-corner-left,
.fc-state-default.fc-corner-right,
.modal-content,
.modal-content .form-control,
.modal-content .input-group-addon,
.fc-event,
.modal-content button
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

@media (max-width: 768px) {
    #calendar
    {
        padding-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0;
    }
}

/**************************************************
 *
 *
 *
 * small-box
 *
 *
 *
 **************************************************/
#edit-contract .col-xs-3,
#edit-contract .col-xs-9,
#edit-contract label,
#edit-contract .form-group,
#edit-contract input,
#edit-contract p
{
    padding: 0;
    margin: 0;
    line-height: 32px;
    border: 0;
    -webkit-box-shadow: inset 0 0 0;
            box-shadow: inset 0 0 0;
}

#edit-contract label
{
    text-align: right;
}

#edit-contract input
{
    text-align: center;
    font-size: 16px;
}
