fieldset
{
	overflow: hidden;
	color: #fff;
	border:1px solid #fff;
}

fieldset legend
{
	width: auto;
	color: #fff;
	border: 0;
	margin-left:20px;
}

.user-info label
{
	background-color: transparent;
	text-align: right;
	color: #fff;
	border: 0;
}

@media (max-width: 768px){
	fieldset
	{
		border: 0;
        color: #000;
	}

	fieldset legend
	{
		color: #333;
	}

	.user-info label
	{
		text-align: left;
	    color: #555;
	}

	input
	{
		color: #000;
	}

	.nav>li>a
	{
		margin: 0;
		padding: 0 8px;
		border: 0;
	}

	.nav>li.active>a, 
	.nav>li.active>a:focus, 
	.nav>li.active>a:hover
	{
		border: 0;
	}
}

input[type="file"]
{
    background-color: #fff;
}

#start_upload,
button[type="submit"]
{
	margin-top: 20px;
}

#preview img
{
	background-color: #fff;
}

div.alert
{
    border-radius: 0;
}