{% extends "base.html" %}
{% load static %}

{% block csslink %}
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

	<main class="body-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<ul class="nav nav-tabs nav-pills nav-stacked" role="tablist">
						<li role="presentation" class="active"><a href="#section-1" aria-controls="section-1" role="tab" data-toggle="tab">关于我们</a></li>
						<li role="presentation"><a href="#section-2" aria-controls="section-2" role="tab" data-toggle="tab">商务合作</a></li>
						<li role="presentation"><a href="#section-3" aria-controls="section-3" role="tab" data-toggle="tab">免责声明</a></li>
						<li role="presentation"><a href="#section-4" aria-controls="section-4" role="tab" data-toggle="tab">联系我们</a></li>
						<li role="presentation"><a href="#section-5" aria-controls="section-5" role="tab" data-toggle="tab">帮助</a></li>
					</ul>
				</div>
				<div id="about" class="col-sm-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="section-1">
							<fieldset>
								<legend>关于我们</legend>
							</fieldset>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="section-2">
							<fieldset>
								<legend>商务合作</legend>
							</fieldset>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="section-3">
							<fieldset>
								<legend>免责声明</legend>
							</fieldset>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="section-4">
							<fieldset>
								<legend>联系我们</legend>
							</fieldset>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="section-5">
							<fieldset>
								<legend>帮助</legend>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}

