<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>关于我们</title>
    <meta name="description" content="有娱-关于我们">
    <meta name="author" content="xiao kai, peng">

    <!-- 导入Roboto字体
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Roboto:400,100,300,500"> -->
    <!-- 导入noto sans sc字体
    <link rel="stylesheet" href="http://fonts.useso.com/earlyaccess/notosanssc.css"> -->

	<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/about.css">

    <!-- 加载各种icon -->
    <link rel="icon" href="../static/img/logo.ico">
    <link rel="shortcut icon" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="../static/img/logo.ico">


</head>

<body>
	<main class="body-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active"><a href="#section-1">关于我们</a></li>
						<li role="presentation"><a href="#section-2">商务合作</a></li>
						<li role="presentation"><a href="#section-3">免责声明</a></li>
						<li role="presentation"><a href="#section-4">联系我们</a></li>
						<li role="presentation"><a href="#section-5">帮助</a></li>
					</ul>
				</div>
				<div id="about" class="col-sm-9">
					<fieldset id="section-1">
						<legend>关于我们</legend>
					</fieldset>
					<fieldset id="section-2">
						<legend>商务合作</legend>
					</fieldset>
					<fieldset id="section-3">
						<legend>免责声明</legend>
					</fieldset>
					<fieldset id="section-4">
						<legend>联系我们</legend>
					</fieldset>
					<fieldset id="section-5">
						<legend>帮助</legend>
					</fieldset>
				</div>
			</div>
		</div>
	</main>

	<!-- 返回顶部悬浮按钮 -->
	<span id="top-link-block" class="hidden">
	    <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'fast');return false;">
	        <i class="fa fa-arrow-up"></i>返回顶部
	    </a>
	</span>

	<!-- 加载JS -->
	<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="../static/js/about.js"></script>
</body>
</html>

