{% extends "base.html" %}
{% load static %}

{% block title %}生成向导{% endblock %}

{% block csslink %}
	<link rel="stylesheet" href="{% static 'css/contract-guider.css' %}">
{% endblock %}

{% block content %}
	<main>
		<div class="container">
			<div class="row visible-lg-block">
				<div class="col-sm-12 welcome">
					<h1>开始创建合同吧！</h1>
					<h3>
						如果你已经熟悉合同种类，请直接按名字搜索想要创建的合同。
					</h3>
					<h3 hidden>
						另外我们也提供向导，按照提示简单选择即可找到合适的合同。
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
				    <div class="input-group search_div">
				      	<input type="search" class="form-control" placeholder="在合同库中搜索...">
				      	<span class="input-group-btn">
				        	<button class="btn btn-default search_btn" type="button"><span class="fa fa-search"></span></button>
				      	</span>
				    </div>
					<div id="category-1" class="row thumbnail-wrapper">
						<div class="col-sm-12">
							<h2>著作与许可</h2>
						</div>
						<div class="col-sm-3">
							<a href="/literature/" class="thumbnail">
								<div class="caption">
									<h4>文学作品改编许可合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="/television-delegate/" class="thumbnail">
								<div class="caption">
									<h4>电视剧剧本委托创作合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="/movie-delegate/" class="thumbnail">
								<div class="caption">
									<h4>电影剧本委托创作合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电视剧剧本版权转让合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电影剧本版权转让合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>剧本摄制电视剧许可合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>剧本摄制电影许可使用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>影视剧主题曲委托创作合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>音乐作品许可使用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>摄影、图片及美术作品许可使用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
					</div>
					<div id="category-2" class="row thumbnail-wrapper">
						<div class="col-sm-12">
							<h2>投融资</h2>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电影联合投资摄制合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电视剧联合投资摄制合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>广告植入合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>商业赞助合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>版权预售合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>植入广告代理合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
					</div>
					<div id="category-3" class="row thumbnail-wrapper">
						<div class="col-sm-12">
							<h2>人员聘用</h2>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>导演聘用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>演员聘用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>制片人聘用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>制片主任聘用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>摄像聘用合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
					</div>
					<div id="category-4" class="row thumbnail-wrapper">
						<div class="col-sm-12">
							<h2>器材场地</h2>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>车辆租赁合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>器材设备租赁合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>场地租赁合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
					</div>
					<div id="category-5" class="row thumbnail-wrapper">
						<div class="col-sm-12">
							<h2>委托制作</h2>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>音效委托制作合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>特效制作合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>录音合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>字幕制作合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
					</div>
					<div id="category-6" class="row thumbnail-wrapper">
						<div class="col-sm-12">
							<h2>发行</h2>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电影影院发行代理合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电视剧电视播映许可合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电视剧电视播映许可合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>信息网络传播许可合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>影视剧版权转让合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>音像制品出版发行合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电影拷贝复制合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
					</div>
					<div id="category-7" class="row thumbnail-wrapper">
						<div class="col-sm-12">
							<h2>其他合同</h2>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电视剧宣传服务合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>电影宣传服务合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="thumbnail">
								<div class="caption">
									<h4>法律服务合同</h4>
									<p class="visible-lg-block">...</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
	
{% block jslink %}
	<script src="{% static 'js/contract-guider.js' %}"></script>
{% endblock %}