{% extends "base.html" %}
{% load static %}
{% block content %}

	<main class="body-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" id="doc-info-view">
					<ul class="nav nav-tabs" id="switch-bar">
						<li role="presentation" class="active"><a href="#table-view" aria-controls="home" role="tab" data-toggle="tab">合同</a></li>
						<li role="presentation"><a href="#calendar-view" aria-controls="profile" role="tab" data-toggle="tab">日历</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="table-view">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-box">
										<div class="form-top">
											<div class="form-top-left">
												<h3 class="default-h3">
													合同列表
												</h3>
												<p>
													编辑合同名称和标签，修改法律状态
												</p>
											</div>
											<div class="form-top-right">
												<i class="fa fa-table"></i>
											</div>
										</div>
										<div class="form-bottom">
										    <div class="input-group search_div">
										      <input type="search" class="form-control" placeholder="可按编号、名称、标签等搜索您的合同...">
										      <span class="input-group-btn">
										        <button class="btn btn-default search_btn" type="button"><span class="fa fa-search"></span></button>
										      </span>
										    </div>
											<div>
												<table class="table info">
													<caption>您共有30份合同，显示第1-10份合同...</caption>
													<thead>
														<tr>
															<th>合同编号</th>
															<th>合同名称</th>
															<th>合同类型</th>
															<th>状态</th>
															<th>法律状态</th>
															<th>标签</th>
															<th>操作</th>
														</tr>
													</thead>
													<tbody>
													{% for obj in objs %}
														<tr>
															<td>{{ obj.contract_id }}</td>
															<td><input type="text" name="name" value="{{ obj.name }}"></td>
															<td>{{ obj.type }}</td>
															<td>{{ obj.get_contract_status_display }} 
															</td>
															<td>
																<select name="status" class="table_select">
																	<option value="0" class="label label-success" {% if obj.law_status == '0' %} selected="selected" {% endif %}>已生效</option>
																	<option value="1" class="label label-danger" {% if obj.law_status == '1' %} selected="selected" {% endif %}>已终止</option>
																</select>
															</td>
															<td><input type="text" name="label" placeholder="未设置" value="{{obj.label}}"></td>
															<td>
																<div class="btn-group">
																	<button type="button" class="btn btn-default activation dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">操作
																		<span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu">
																		<li><a class="preview" href="/preview-contract/{{ obj.id }}">预览/下载</a></li>
																		<li><button type="button" class="btn btn-default delivery">提交审核</button></li>
																		<li role="separator" class="divider"></li>
																		<li><button type="button" class="btn btn-default delete" href="/contract/delete/{{obj.id}}">删除</button></li>
																	</ul>
																</div>
															</td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
											</div>
											<div class="row">
												<div class="col-sm-1 col-sm-offset-1">
													<button type="button" class="btn btn-default prev">上一页</button>
												</div>
												<div class="col-sm-1 col-sm-offset-8">
													<button type="button" class="btn btn-default next">下一页</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="calendar-view">
							<div class="row">
								<div class="col-sm-12">
									<div id="calendar">
									</div>

									<div class="modal fade" id="add-event" tabindex="-1" role="dialog" aria-labelledby="Label">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="关闭">
														<span aria-hidden="true">&times;</span>
													</button>
													<h4 class="modal-title" id="Label">添加事件</h4>
												</div>
												<div class="modal-body">
								                    <input hidden name="id"/>
													<div class="form-group">
														<label for="script-content" class="sr-only">事件说明</label>
														<textarea name="title" placeholder="事件说明" class="form-control"></textarea>
													</div>
													<div class="form-group">
										                <div class='input-group date' id='datetimepicker1'>
										                	<label for="script-name" class="sr-only">开始时间</label>
										                    <input name="start" type='text' class="form-control" placeholder="开始时间"/>
										                    <span class="input-group-addon">
										                        <i class="fa fa-calendar"></i>
										                    </span>
										                </div>
										            </div>
													<div class="form-group">
										                <div class='input-group date' id='datetimepicker2'>
										                	<label for="script-name" class="sr-only">结束时间</label>
										                    <input name="end" type='text' class="form-control" placeholder="结束时间"/>
										                    <span class="input-group-addon">
										                        <i class="fa fa-calendar"></i>
										                    </span>
										                </div>
										            </div>
								                    <input hidden name="backgroundColor"/>
													<div class="form-group">
														<label for="ref" class="sr-only">关联合同</label>
														<select name="ref" class="form-control">
														</select>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
													<button type="button" class="btn btn-primary">保存事件</button>
													<button type="button" class="btn btn-danger">删除事件</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
{% endblock %}