<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>footer</title>
    <meta name="description" content="有娱-footer">
    <meta name="author" content="xiao kai, peng">

    <!-- 导入Roboto字体
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Roboto:400,100,300,500"> -->
    <!-- 导入noto sans sc字体
    <link rel="stylesheet" href="http://fonts.useso.com/earlyaccess/notosanssc.css"> -->

	<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/style.css">

    <!-- 加载各种icon -->
    <link rel="icon" href="../static/img/logo.ico">
    <link rel="shortcut icon" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="../static/img/logo.ico">
</head>

<body>
	<footer>
		<div class="container">
			<div class="footer-border"></div>
			<div class="row">
				<div class="col-sm-4">
					<p>Copyright  2016 有娱. All Rights Reserved</p>
				</div>
				<div class="col-sm-4">
					<div class="bdsharebuttonbox">
						<a href="#" class="fa fa-qq" data-cmd="tqq"></a>
						<a href="#" class="fa fa-weixin" data-cmd="weixin"></a>
						<a href="#" class="fa fa-weibo" data-cmd="tsina"></a>
					</div>
				</div>
				<div class="col-sm-4">
					<ul class="info">
						<li><span class="fa fa-question-circle"></span><a href="./about.html">关于我们</a></li>
						<li><span class="fa fa-user-plus"></span><a href="./about.html">商务合作</a></li>
						<li><span class="fa fa-info-circle"></span><a href="./about.html">免责声明</a></li>
						<li><span class="fa fa-envelope"></span><a href="./about.html">联系我们</a></li>
						<li><span class="fa fa-h-square"></span><a href="./about.html">帮助</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- 加载JS -->
	<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../static/js/script.js"></script>
</body>
</html>