<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>主页</title>
    <meta name="description" content="有娱-主页">
    <meta name="author" content="xiao kai, peng">

    <!-- 导入Roboto字体
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Roboto:400,100,300,500"> -->
    <!-- 导入noto sans sc字体
    <link rel="stylesheet" href="http://fonts.useso.com/earlyaccess/notosanssc.css"> -->

	<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/style.css">

    <!-- 加载各种icon -->
    <link rel="icon" href="../static/img/logo.ico">
    <link rel="shortcut icon" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="../static/img/logo.ico">


</head>

<body>
	<main>
		<div class="jumbotron">
			<div class="container">
			<h1>添加介绍</h1>
			<p>...</p>
			</div>
		</div>

		<div class="container">
			<!-- 幻灯片 -->
			<div id="carousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel" data-slide-to="0" class="active"></li>
					<li data-target="#carousel" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="../static/img/jumbotron.jpg" alt="...">
						<div class="carousel-caption">
							<h3>巨幕1</h3>
							<p>...</p>
						</div>
					</div>
					<div class="item">
						<img src="../static/img/jumbotron.jpg" alt="...">
						<div class="carousel-caption">
							<h3>巨幕2</h3>
							<p>...</p>
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">前一个介绍</span>
				</a>
				<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">后一个介绍</span>
				</a>
			</div>

			<div class="row thumbnail-wrapper">
				<div class="col-sm-12">
					<h2>合同列表</h2>
					<a href="#" class="more s-btn">更多</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="thumbnail">
						<i class="fa fa-book"></i>
						<div class="caption">
							<h4>文学作品改编许可合同</h4>
							<p>...</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="thumbnail">
						<i class="fa fa-rmb"></i>
						<div class="caption">
							<h4>电影联合投资摄制合同</h4>
							<p>...</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="thumbnail">
						<i class="fa fa-male"></i>
						<div class="caption">
							<h4>演员聘用合同</h4>
							<p>...</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="thumbnail">
						<i class="fa fa-camera"></i>
						<div class="caption">
							<h4>器材设备租赁合同</h4>
							<p>...</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</main>

	<!-- 返回顶部悬浮按钮 -->
	<span id="top-link-block" class="hidden">
	    <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'fast');return false;">
	        <i class="fa fa-arrow-up"></i>返回顶部
	    </a>
	</span>

	<!-- 加载JS -->
	<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../static/js/script.js"></script>
</body>
</html>