{% extends "base.html" %}
{% load static %}
{% block title %}用户注册{% endblock %}

{% block csslink %}
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
	<main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 hidden-xs welcome">
					<h1 class="default-h1"><strong>欢迎</strong>新用户！</h1>
					<div>
						<h3>
							我们为您提供<strong>专业的</strong>影视合同服务。
						</h3>
						<h3>
							无论您是编剧、演员、还是导演，您都可以通过我们的网站<strong>免费</strong>生成为您<strong>量身定制的</strong>各种类型的合同。
						</h3>
						<h3>
							另外，您也可以通过我们的<a href="#"><strong>邮箱</strong></a>获得更进一步的法律帮助。
						</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="form-box">
						<div class="form-top">
							<div class="form-top-left">
								<h3 class="default-h3">
									请在这里注册
								</h3>
								<p>
									填写几个简单的表单即可马上登陆
								</p>
							</div>
							<div class="form-top-right">
								<i class="fa fa-pencil"></i>
							</div>
						</div>
						<div class="form-bottom">
							<form id="regiser" role="form" action="/register/" method="post">
								{% csrf_token %}
								<div class="form-group">
									<label for="regiser-account" class="sr-only">账号</label>
									<input type="text" name="username" placeholder="请输入账号，以字母开头..." class="form-account form-control">
								</div>
								<div class="form-group">
									<label for="regiser-password" class="sr-only">密码</label>
									<input id="password" type="password" name="password" placeholder="请输入8至16位密码..." class="form-password form-control">
								</div>
								<div class="form-group">
									<label for="regiser-duplicate-password" class="sr-only">请重复输入密码</label>
									<input type="password" name="confirm_password" placeholder="请重复输入密码..." class="form-duplicate-password form-control">
								</div>
								<div class="form-group">
									<label for="regiser-email" class="sr-only">电子邮箱</label>
									<input type="email" name="email" placeholder="请输入电子邮箱..." class="form-email form-control">
								</div>
								<button type="submit" class="btn">提交注册信息</button>
								{{ form.username.errors }}
								{{ form.email.errors }}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block jslink %}
<script src="https://cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}