{% extends "base.html" %}
{% load static %}

{% block csslink %}
	<link rel="stylesheet" href="{% static 'css/user-info.css' %}">
{% endblock %}

{% block content %}

	<main class="body-wrapper">
		<div class="container">
			<div class="row">
				{% if user.is_authenticated %}
				<div class="col-sm-3">
					<ul class="nav nav-tabs nav-pills nav-stacked" role="tablist">
						<li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">账号信息</a></li>
						<li role="presentation"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">用户信息</a></li>
						<li role="presentation"><a href="#avatar" aria-controls="avatar" role="tab" data-toggle="tab">修改头像</a></li>
						<li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">修改密码</a></li>
					</ul>
				</div>
				<div class="col-sm-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="profile">
							<div class="form-bottom user-info">
								<div class="form-box">
									<form role="form" action="url" method="post">
										<fieldset>
											<legend>账号信息</legend>
											<div hidden class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="id" class="form-control">ID</label>
													</div>
													<div class="col-sm-6">
														<input type="text" name="id" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="name" class="form-control">用户名</label>
													</div>
													<div class="col-sm-6">
														<input type="text" name="name" class="form-control" value="{{ user.username }}" readonly="readonly">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="email" class="form-control">电子邮箱</label>
													</div>
													<div class="col-sm-6">
														<input type="email" name="email" class="form-control" value="{{ user.email }}" readonly="readonly"> 
													</div>
												</div>
											</div>
										</fieldset>
										<!--<button type="submit" class="btn">提交修改</button>-->
									</form>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="information">
							<div class="form-bottom user-info">
								<div class="form-box">
									<form role="form" action="/update-user-info/" method="post">
										{% csrf_token %}
										<fieldset>
											<legend>用户信息</legend>
											<div hidden class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="id" class="form-control">ID</label>
													</div>
													<div class="col-sm-6">
														<input type="text" name="id" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="property" class="form-control">用户性质:</label>
													</div>
													<div class="col-sm-6">
														<input type="radio" name="property" value="0" {% ifequal user.userprofile.property '0' %} checked="true" {% endifequal %}>个人
														<input type="radio" name="property" value="1" {% ifequal user.userprofile.property '1' %} checked="true" {% endifequal %}>公司
														<input type="radio" name="property" value="2" {% ifequal user.userprofile.property '2' %} checked="true" {% endifequal %}>工作室
														<input type="radio" name="property" value="3" {% ifequal user.userprofile.property '3' %} checked="true" {% endifequal %}>其他
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="" class="form-control">职业/职务:</label>
													</div>
													<div class="col-sm-9">
														<input type="checkbox" name="bianju" {% if user.userprofile.bianju %} checked="checked" {% endif %}>编剧
														<input type="checkbox" name="daoyan" {% if user.userprofile.daoyan %} checked="checked" {% endif %}>导演
														<input type="checkbox" name="yanyuan" {% if user.userprofile.yanyuan %} checked="checked" {% endif %}>演员
														<input type="checkbox" name="jingjiren" {% if user.userprofile.jingjiren %} checked="checked" {% endif %}>经纪人
														<input type="checkbox" name="zhipianren" {% if user.userprofile.zhipianren %} checked="checked" {% endif %}>制片人
														<input type="checkbox" name="cehua" {% if user.userprofile.cehua %} checked="checked" {% endif %}>策划
														<input type="checkbox" name="xuanchuan" {% if user.userprofile.xuanchuan %} checked="checked" {% endif %}>宣传
														<input type="checkbox" name="faxing" {% if user.userprofile.faxing %} checked="checked" {% endif %}>发行
														<input type="checkbox" name="fawu" {% if user.userprofile.fawu %} checked="checked" {% endif %}>法务/律师
														<input type="checkbox" name="qita" {% if user.userprofile.qita %} checked="checked" {% endif %}>其他
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="company" class="form-control">所属公司</label>
													</div>
													<div class="col-sm-6">
														<input type="text" name="companyname" class="form-control" value="{{ user.userprofile.company_name }}">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="address" class="form-control">联系地址</label>
													</div>
													<div class="col-sm-6">
														<input type="text" name="companyaddress" class="form-control" value="{{ user.userprofile.company_address }}">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="company-email" class="form-control">公司邮箱</label>
													</div>
													<div class="col-sm-6">
														<input type="email" name="companyemail" class="form-control" value="{{ user.userprofile.company_email}}">
													</div>
												</div>
											</div>
										</fieldset>
										<button type="submit" class="btn">提交修改</button>
									</form>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="avatar">
							<div class="form-bottom user-info">
								<div class="form-box">
									<form role="form">
										<fieldset>
											<legend>修改头像</legend>
											<div hidden class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="id" class="form-control">ID</label>
													</div>
													<div class="col-sm-6">
														<input type="text" name="id" class="form-control">
													</div>
												</div>
											</div>
											<div id="img-path" class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="img-path" class="form-control">选择头像</label>
													</div>
													<div class="col-sm-2">
														<button type="button" id="browse" class="btn">打开文件</button>
													</div>
												</div>
											</div>
											<div id="img-preview" class="form-group">
												<div class="row">
													<div class="col-sm-6 col-sm-offset-3" id="preview">
													</div>
												</div>
											</div>
										</fieldset>
										<button type="button" id="start_upload" class="btn">提交修改</button>
									</form>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="password">
							<div class="form-bottom user-info">
								<div class="form-box">
									<form role="form" action="/reset-password/" method="post">
									{% csrf_token %}
										<fieldset>
											<legend>修改密码</legend>
											<div hidden class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="id" class="form-control">ID</label>
													</div>
													<div class="col-sm-6">
														<input type="text" name="id" class="form-control">
													</div>
												</div>
											</div>
											<div id="origin-password" class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="origin-password" class="form-control">原密码</label>
													</div>
													<div class="col-sm-6">
														<input type="password" name="origin-password" class="form-control">
													</div>
												</div>
											</div>
											<div id="new-password" class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="new-password" class="form-control">新密码</label>
													</div>
													<div class="col-sm-6">
														<input type="password" name="new-password" class="form-control">
													</div>
												</div>
											</div>
											<div id="re-new-password" class="form-group">
												<div class="row">
													<div class="col-sm-3">
														<label for="re-new-password" class="form-control">重复密码</label>
													</div>
													<div class="col-sm-6">
														<input type="password" name="re-new-password" class="form-control">
													</div>
												</div>
											</div>
										</fieldset>
										<button type="submit" class="btn">提交修改</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</main>

{% endblock %}